################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IDEs/VS/Debug
/IDEs/VS/.vs/dsTest/v15
/IDEs/VS/DataStructures
/Projeler/VS/dsTest/Debug
/Projeler/VS/dsTest/.vs/dsTest/v15
/Projeler/VS/dsTest/x64/Debug
